In [25]:
import pandas as pd
alunosDIC = {'Nome': ["Guilherme","Amanda","Pedro","Caio",],
            "Nota": [3,4,5.5,9],
            "Aprovado":["Nao","Nao","Sim","Sim"]}

In [26]:
alunosDF = pd.DataFrame(alunosDIC)

In [27]:
print(alunosDF)

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao
1     Amanda   4.0      Nao
2      Pedro   5.5      Sim
3       Caio   9.0      Sim

In [28]:
#Imprimindo todos os dado de determinada coluna

alunosDF["Nome"]

0    Guilherme
1       Amanda
2        Pedro
3         Caio
Name: Nome, dtype: object

In [29]:
#Todos os dados de uma linha passando o indice
alunosDF.loc[[0]]

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao

In [30]:

#Todos os dados de determinadas linhas passando o indice
alunosDF.loc[[0, 2, 3]]

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao
2      Pedro   5.5      Sim
3       Caio   9.0      Sim

In [38]:
#Exibindo todos os itens do indice 0 ao 2 
alunosDF.loc[0:2]

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao
1     Amanda   4.0      Nao
2      Pedro   5.5      Sim

In [44]:
alunosDF.loc[alunosDF['Nome']=='Guilherme']

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao

In [46]:
primeirasLinhas = alunosDF.loc[0:2]

In [48]:
print(primeirasLinhas)

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao
1     Amanda   4.0      Nao
2      Pedro   5.5      Sim

In [54]:
novoDF = alunosDF[alunosDF["Nota"]!= 9]

In [56]:
print(novoDF)

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao
1     Amanda   4.0      Nao
2      Pedro   5.5      Sim

In [60]:
alunosReprovados = alunosDF.loc[alunosDF["Aprovado"]!= "Sim"]

In [62]:
print(alunosReprovados)

        Nome  Nota Aprovado
0  Guilherme   3.0      Nao
1     Amanda   4.0      Nao