In [5]:
import pandas as pd 
alunosDIC = {'Nome':['Guilherme','Amanda','Pedro','Carlos','Bianca'],
         'Nota':[4,6.5,7,8,3.5],
          'Aprovado':['Nao','Sim','Sim','Sim','Nao',]
         }

In [7]:
alunosDF = pd.DataFrame(alunosDIC)

In [9]:
print(alunosDF)

        Nome  Nota Aprovado
0  Guilherme   4.0      Nao
1     Amanda   6.5      Sim
2      Pedro   7.0      Sim
3     Carlos   8.0      Sim
4     Bianca   3.5      Nao

In [11]:
#Exibe 
alunosDF.head()

        Nome  Nota Aprovado
0  Guilherme   4.0      Nao
1     Amanda   6.5      Sim
2      Pedro   7.0      Sim
3     Carlos   8.0      Sim
4     Bianca   3.5      Nao

In [13]:
#Exibe o TAMANHO da matriz
alunosDF.shape

(5, 3)

In [15]:
alunosDF.describe()

           Nota
count  5.000000
mean   5.800000
std    1.955761
min    3.500000
25%    4.000000
50%    6.500000
75%    7.000000
max    8.000000